.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.square{
    width: 100%;
    align-items: center;
    height: 180px;
    line-height: 180px;
    background-color: #213e8c;
    text-align: center;
}

.separator{
    width: 70%;
    height: 1px;
    background-color: gray;
    opacity: 50%;
    
}

.all-news{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.noticia-container{
    margin-bottom: 50px;
    width: 50%;
    height: 400px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(141, 129, 129, 0.411);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.noticia-container > img{
    width: 50%;
    object-fit: cover;
}

.noticia-container > div{
    width: 50%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info_noticia{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.square3{
    width: 60%;
    height: 200px;
    line-height: 0px;
    background-color: white;
    border: 1px solid gray;
    
}
.font-patrones-titulo{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 45px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.input-button {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
}

.img-tamano{
    
    width: 10px;
    height: 10px;

}

.font-autor{
    font-weight: bold;
    color: black;
    font-size: 10px;
    
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.font-titulo{
    font-weight: bold;
    color: black;
    margin-left: 50px;
    margin-right: 15px;
    text-align: left;
    font-size: 35px;
    line-height: 1em;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.pointing{
    cursor: pointer;
}

.logo-tam{
    width: 5px;
    height: auto;
}

[click]{
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}