<div class = "container">
    <div class="square">
        <p class="font-patrones-titulo">&nbsp;Últimas&nbsp;Noticias&nbsp;
        </p>
    </div>
</div>
<br>
<div class = "container">
    <form (submit)= "buscar()" class = "square2">
        <mat-form-field class="example-full-width" style = "margin-right: 10px;">
            <mat-label></mat-label>
            <input matInput type= "text" [(ngModel)]='titulonoticia.titulo' name = "titulo" placeholder="Busqueda" >
        </mat-form-field>
        <button  input-button type= "submit"><img src= "img-tamano" src="./assets/img/glass.png" style ="width: 15px"></button>
    </form>
</div>

<ul *ngIf = "busqueda == true">
    <div class="all-news">
    <div *ngFor="let i of noticias" class="noticia-container">
        <img (click)= 'enviarnoticia(i.id)' class = "img-tam2" src={{i.imagen}}>
        <div style="width: 100%;">
            <p class="font-autor">{{i.autor}}<br>{{i.fecha}}</p>
            <p (click)= 'enviarnoticia(i.id)' class ="font-titulo">{{i.titulo}}</p>
            <div class="separator"></div> 
            <div class="info_noticia">
                <p>{{i.visitas}}&nbsp;Vistas</p>
                <p (click)= 'enviarnoticia(i.id)'>Escribir&nbsp;un&nbsp;comentario</p>
                <p>{{i.likes}}&nbsp;<mat-icon class="pointer" color="accent">favorite</mat-icon></p>
            </div>
        </div>
    </div>
    </div>
</ul>

<ul *ngIf = "busqueda == false">
    <div class="all-news">
    <div *ngFor="let i of noticiasbusqueda" class="noticia-container">
        <img (click)= 'enviarnoticia(i.id)' class = "img-tam2" src={{i.imagen}}>
        <div>
            <p class="font-autor">{{i.autor}}<br>{{i.fecha}}</p>
            <p (click)= 'enviarnoticia(i.id)' class ="font-titulo">{{i.titulo}}</p>
            <div class="info_noticia" (click)= 'enviarnoticia(i.id)'>
                <p>{{i.visitas}}&nbsp;Visitas</p>
                <p>Escribir&nbsp;un&nbsp;comentario</p>
                <p>{{i.likes}}&nbsp;<mat-icon color="accent">favorite</mat-icon></p>
            </div>
        </div>
    </div>
    </div>
</ul>