<h1 mat-dialog-title>Hubo un error durante tu registro</h1>
<p>Estimada {{nombre}} no pudimos completar tu registro.</p>
<p>El error fue el siguiente: {{error}}</p>
<br>
<div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close style="background: green; color: white;">Entendido</button>
</div>