.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.square{
    width: 100%;
    height: 150px;
    line-height: 180px;
    background-color: white;
    text-align: center;
}

.square2{
    width: 80%;
    height: 150px;
    line-height: 180px;
    background-color: #00329f;
    text-align: center;
}

.square3{
    width: 80%;
    height: 150px;
    line-height: 180px;
    background-color: white;
    text-align: center;
}

.square4{
    width: 80%;
    height: 150px;
    line-height: 180px;
    background-color: #dbdbdb;
    text-align: center;
}
.button {
    background-color: #ec5e87; 
    color: white; 
    border: none;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.font-patrocinadores{
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 45px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.img-tamano{
    
    width: 200px;
    height: auto;
    padding: 20px;

}
.img-tamano2{
    
    width: 400px;
    height: auto;
    padding: 20px;

}

.column {
    float: center;
  }
  
.row {
    display: flex;
  }
  
.column2 {
    flex: 33.33%;
    padding: 5px;
  }

.column3 {
    flex: 100%;
    padding: 5px;
  }