<div class = "container">
    <div class="square">
        <p class="font-patrocinadores">Patrocinadores
        </p>
    </div>
</div>
<div class = "container">
        <div class="column">
          <img class = "img-tamano" src="assets/logos/csoftmy_color.png">
        </div>
        <div class="column">
          <img class = "img-tamano" src="assets/logos/motorola.png" >
        </div>
        <div class="column">
          <img class = "img-tamano" src="assets/logos/softtek.png" >
        </div>
    
</div>

<div class = "container">
    <div class="column">
        <img class = "img-tamano" src="assets/logos/conacyt.png" >
    </div>
    <div class="column">
        <img class = "img-tamano" src="assets/logos/itotal.jpg" >
    </div>
</div>

<div class = "container">
    <div class="square">
        <p class="font-patrocinadores">Universidades Participantes
        </p>
    </div>
</div>

<div class = "container">
    <div class="square2">
        <div class = "row">
          <div class="column2">
            <img class = "img-tamano" src="assets/logos/tec.jpg">
          </div>
          <div class="column2">
            <img class = "img-tamano" src="assets/escuelas/urre.png" >
          </div>
          <div class="column2">
            <img class = "img-tamano" src="assets/escuelas/uanl.png" >
          </div>
        </div>
    </div>
</div>

<div class = "container">
    <div class="square3">
        <div class = "row">
          <div class="column2">
            <img class = "img-tamano" src="assets/escuelas/panamericana.png">
          </div>
          <div class="column2">
            <button class="button">Inscribete Aqui</button>
          </div>
          <div class="column2">
            <img class = "img-tamano" src="assets/escuelas/tecmilenio.png" >
          </div>
        </div>
    </div>
</div>
<br>
<div class = "container">
    <div class="square4">
        <div class = "row">
          <div class="column2">
            <img class = "img-tamano" src="assets/escuelas/ut.png">
          </div>
          <div class="column2">
            
          </div>
          <div class="column2">
            <img class = "img-tamano" src="assets/logos/softtek.png" >
          </div>
        </div>
    </div>
</div>

<div class = "container">
    <div class="square">
        <p class="font-patrocinadores"> Colaboradores
        </p>
    </div>
</div>

<div class = "container">
    <div class="square">
        <div class = "row">
          <div class="column3">
            <img class = "img-tamano2" src="assets/colab/nuevo.png">
          </div>
        </div>
    </div>
</div>