<h1 mat-dialog-title>{{name}}, tu registro se realizó con éxito</h1>
<p>Espera un periodo entre 1 a 12 horas mientras las administradoras autorizan tu registro</p>
<p>Una vez autorizado, podrás comentar y recibir correos con información del programa Patrones Hermosos</p>
<div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close style="background: green; color: white;">Entendido</button>
</div>