<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
   <div class="fa fa-facebook"  (click)="send('F')" ></div>
    <div class="fa fa-twitter"  (click)="send('T')"></div>
    <div class="fa fa-instagram" (click)="send('I')"></div>
    <div class="fa fa-youtube"  (click)="send('Y')"></div>
</div>