.container{
    width: 44px;
    height: 163px;
    background-color: rgba(7, 7, 88, 0.884);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container > div{
    color: white;
    font-size: 20px;
}

.fa {
    font-size: 35px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
