<div class='container'>
<div class="patron"></div>
<form class="sede-form" (submit) = "ingresar()">

  <button mat-raised-button color="warn" routerLink='/inicio' class="button" style="float:center">Volver a la página principal</button>
  <br><br><br><br>
  <p style="font-size: 50px; font-weight: bold; line-height: 1em;">Formulario para inscripción de sede</p>
  <br><br><br>
  <mat-form-field class="sede-full-width">
    <mat-label>Nombre de la institución</mat-label>
    <input [(ngModel)]='sede.nombre_institucion' name="nombre_institucion" [formControl]="nombre_institucion" matInput >
  </mat-form-field> 

  <mat-form-field class="sede-full-width">
    <mat-label>Estado en el que se encuentra la sede</mat-label>
    <mat-select [formControl]="estado" [(ngModel)]="selectedValueEstado" name="estado" [(ngModel)]='sede.estado' name="estado">
      <mat-option *ngFor="let estado of estados" [value]="estado.value">
        {{estado.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="sede-full-width">
    <mat-label>Nivel de estudio en el que participa la sede</mat-label>
    <mat-select [formControl]="nivel" [(ngModel)]="selectedValueNivel" name="estado" [(ngModel)]='sede.nivel' name="nivel">
      <mat-option *ngFor="let nivel of niveles" [value]="nivel.value">
        {{nivel.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="sede-full-width">
    <mat-label>Campus Sede (Tec de Monterrey)</mat-label>
    <mat-select [formControl]="campus_val" [(ngModel)]="selectedValueCampus" name="campus" [(ngModel)]='sede.campus' name="campus">
      <mat-option *ngFor="let campu of campus" [value]="campu.value">
        {{campu.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>
    <mat-form-field class="sede-full-width">
      <mat-label>Direccion completa de la institución</mat-label>
      <textarea [formControl]="direccion" [(ngModel)]='sede.direccion' name="direccion" matInput placeholder="Ej. Via Atlixcayotl 219"></textarea>
    </mat-form-field>
  </p>
  <div *ngIf="no_edit">
  <br>
  <br>
  
  <p>Responsable Academico</p>
  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>Nombre completo responsable academico</mat-label>
      <input [formControl]="responsables_nombre" [(ngModel)]='responsables_academicos.nombre' name="nombre" matInput>
    </mat-form-field></td>
  </tr></table>
  
  <mat-form-field class="sede-full-width">
    <mat-label>Correo Electrónico responsable academico</mat-label>
    <input [(ngModel)]='responsables_academicos.email' name="email" matInput [formControl]="emailFormControl1" [errorStateMatcher]="matcher"
           placeholder="Ex. patrones@gmail.com">
    <mat-error *ngIf="emailFormControl1.hasError('email') && !emailFormControl1.hasError('required')">
      Ingresa una cuenta de correo válida
    </mat-error>
    <mat-error *ngIf="emailFormControl1.hasError('required')">
      El email es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>

  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field>
    <mat-label>Telefono</mat-label>
    <span matPrefix>+52 &nbsp;</span>
    <input [formControl]="responsables_telefono" [(ngModel)]='responsables_academicos.telefono' name="telefono" type="tel" matInput placeholder="555-555-1234">
    <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field></td>
  </tr></table>

  <br>
  <br>
  
  <p>Responsable Academico (Alternativo)</p>
  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>Nombre responsable academico (Alternativo)</mat-label>
      <input [(ngModel)]='responsables_academicos.nombre_alt' name="nombre_alt" matInput>
    </mat-form-field></td>
  </tr></table>
  
  <mat-form-field class="sede-full-width">
    <mat-label>Correo Electrónico responsable academico (Alternativo)</mat-label>
    <input [(ngModel)]='responsables_academicos.email_alt' name="email_alt" matInput [formControl]="emailFormControl2" [errorStateMatcher]="matcher"
           placeholder="Ex. patrones@gmail.com">
    <mat-error *ngIf="emailFormControl2.hasError('email') && !emailFormControl2.hasError('required')">
      Ingresa una cuenta de correo válida
    </mat-error>
    <mat-error *ngIf="emailFormControl2.hasError('required')">
      El email es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>
  
  <p>Contacto de captacion</p>
  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>Nombre completo de contacto de captación</mat-label>
      <input [formControl]="captacion_nombre" [(ngModel)]='captacion.nombre' name="nombre" matInput>
    </mat-form-field></td>
  </tr></table>
  
  <mat-form-field class="sede-full-width">
    <mat-label>Correo Electrónico contacto de Captación</mat-label>
    <input [(ngModel)]='captacion.email' name="email" matInput [formControl]="emailFormControl3" [errorStateMatcher]="matcher"
           placeholder="Ex. patrones@gmail.com">
    <mat-error *ngIf="emailFormControl3.hasError('email') && !emailFormControl3.hasError('required')">
      Ingresa una cuenta de correo válida
    </mat-error>
    <mat-error *ngIf="emailFormControl3.hasError('required')">
      El email es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>

  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field>
    <mat-label>Telefono</mat-label>
    <span matPrefix>+52 &nbsp;</span>
    <input [formControl]="captacion_telefono" [(ngModel)]='captacion.telefono' name="telefono" type="tel" matInput placeholder="555-555-1234">
    <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field></td>
  </tr></table>

  <br>
  <br>
  
  <p>Contacto de Programas Internacionales</p>
  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>Nombre completo del director de Programas Internacionales</mat-label>
      <input [formControl]="programas_nombre" [(ngModel)]='programas_internacionales.nombre' name="nombre" matInput>
    </mat-form-field></td>
  </tr></table>
  
  <mat-form-field class="sede-full-width">
    <mat-label>Correo Electrónico Programas Internacionales</mat-label>
    <input [(ngModel)]='programas_internacionales.email' name="email" matInput [formControl]="emailFormControl4" [errorStateMatcher]="matcher"
           placeholder="Ex. patrones@gmail.com">
    <mat-error *ngIf="emailFormControl4.hasError('email') && !emailFormControl4.hasError('required')">
      Ingresa una cuenta de correo válida
    </mat-error>
    <mat-error *ngIf="emailFormControl4.hasError('required')">
      El email es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>

  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field>
    <mat-label>Telefono</mat-label>
    <span matPrefix>+52 &nbsp;</span>
    <input [formControl]="programas_telefono" [(ngModel)]='programas_internacionales.telefono' name="telefono" type="tel" matInput placeholder="555-555-1234">
    <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field></td>
  </tr></table>

  <br>
  <br>
  
  <p>Contacto de Programas Internacionales (Alternativo)</p>
  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>Nombre de Programas Internacionales (Alternativo)</mat-label>
      <input [(ngModel)]='programas_internacionales.nombre_alt' name="nombre_alt" matInput>
    </mat-form-field></td>

  </tr></table>
  
  <mat-form-field class="sede-full-width">
    <mat-label>Correo Electrónico Programas Internacionales (Alternativo)</mat-label>
    <input [(ngModel)]='programas_internacionales.email_alt' name="email_alt" matInput [errorStateMatcher]="matcher"
           placeholder="Ex. patrones@gmail.com">
  </mat-form-field>

  <br>
  <br>
  <br>
</div>
  <label id="experiencia-radio-group-label">¿La sede participo en la edición 2019?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.participo_antes' name="participo_antes">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  <br>

  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>Número de participantes a las que desea atender en 2021 y con el que se comprometería la sede</mat-label>
      <input [formControl]="no_participantes" [(ngModel)]='sede.no_participantes' name="no_participantes" type= "number"  matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><label id="disp-radio-group-label">¿Cuentan con laboratorios de computadoras donde cada participante tenga acceso a una computadora?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.labo_disp' name="labo_disp">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td>
  <td><label id="experiencia-radio-group-label">¿Cuentan con salones que tengan pizarrón, sillas, mesas y proyector?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.salones_disp' name="salones_disp">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td></tr></table>

  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>Número de profesoras que apoyarían durante el evento (se requieren al menos una profesora por cada grupo de 25 participantes)</mat-label>
      <input [formControl]="no_profesores" [(ngModel)]='sede.no_profesores' name="no_profesores" type= "number"  matInput>
    </mat-form-field></td>
  </tr></table>

  <mat-form-field class="sede-full-width">
    <mat-label>¿Donde se hospedarían las jóvenes instructoras del MIT? Favor de ser explícito en cuanto a lugar, dirección etc.</mat-label>
    <input [formControl]="exp_hospedaje" [(ngModel)]='sede.exp_hospedaje' name="exp_hospedaje" matInput >
  </mat-form-field>

  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>¿A qué distancia de la Sede se encuentra el lugar donde se hospedarían las instructoras del MIT (km)?</mat-label>
      <input [formControl]="dist_sede" [(ngModel)]='sede.dist_sede' name="distancia_sede" type= "number"  matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="sede-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="sede-full-width">
      <mat-label>¿Cuántas asistentes universitarias podrían involucrar como voluntarias/instructoras?</mat-label>
      <input [formControl]="cantidad_asistentes" [(ngModel)]='sede.cantidad_asistentes' name="cantidad_asistentes" type= "number"  matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><label id="disp-radio-group-label">¿Se comprometen a dar alimentos a las jóvenes que asistan, así como a sus instructoras por los 5 días del campamento?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.compromiso_alimentos' name="compromiso_alimentos">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td>
  <td><label id="experiencia-radio-group-label">¿Se comprometen a obtener los fondos necesarios a fin de proveer a las asistentes de: materiales, camisetas, diplomas?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.compromiso_fondos' name="compromiso_fondos">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td></tr></table>

  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><label id="disp-radio-group-label">¿Se comprometen a transportar de forma segura a las instructoras del MIT, del aeropuerto a su lugar de hospedaje, durante los talleres de su lugar de hospedaje a la sede (ida y vuelta) y de regreso al aeropuerto?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.compromiso_transportar' name="compromiso_transportar">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td>
  </tr></table>

  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><label id="disp-radio-group-label">¿Se comprometen a obtener permisos firmados de los padres para hacer investigación así como para tomar fotos?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.compromiso_permisos' name="compromiso_permisos">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td>
  <td><label id="experiencia-radio-group-label">¿Se comprometen a apoyar para aplicar los instrumentos de investigación que nos permitan medir el éxito del programa?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.compromiso_apoyo' name="compromiso_apoyo">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td></tr></table>

  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><label id="disp-radio-group-label">¿Se comprometen a compartir las fotos y videos únicamente con los organizadores durante y posterior al evento pero no a ningún medio con fines comerciales?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.compromiso_fotos' name="compromiso_fotos">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td>
  <td><label id="experiencia-radio-group-label">¿Aceptan que los datos de las participantes los concentre el programa Patrones Hermosos y únicamente comparta con cada sede los respectivos?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='sede.aceptar_datos' name="aceptar_datos">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td></tr></table>

  <p>
    <mat-form-field class="sede-full-width">
      <mat-label>Comentarios o dudas</mat-label>
      <textarea [(ngModel)]='sede.comentarios' name="comentarios" matInput ></textarea>
    </mat-form-field>
  </p>
  <br>
  <br><br><br>
  <div *ngIf="no_edit; else elseBlock">
    <button mat-raised-button type="submit" class="button" style="float:center" color="primary">Registrar Información</button>
  </div>
  <ng-template #elseBlock>
    <button mat-raised-button type="submit" class="button" style="float:center" color="accent">Aplicar cambios</button>
  </ng-template>
</form>
</div>