.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.tag3{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.tag3 > div{
    min-width: 100px;
    min-height: 402px;
    width: 100%;
    text-align: center;
}

.tag3 > div#cont1{
    padding-top: 70px;
    background-color:#4cd39c;
    min-height: 530.3px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tag3 > div#cont2{
    background-image: url(../../../assets/img_about/portada8.jpg);
    height: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: center;
}

.input-button{
    border-radius: 100px;
    height: 120px;
    width: 300px;
    font-size: 30px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
