<div class="flex-container">
    <div class= "container">
        <div class="tag3">
            <div id="cont2">  
            </div>
            <div id="cont1">
               <div class="btn-inscribete">
                <button class="input-button" mat-flat-button color="warn" routerLink='/formulario-asistente'>INSCRÍBETE</button>
            </div>
            <div class="texto">
                <p><span style="font-size:20px;">Los talleres se llevarán a cabo del 27 al 31 de mayo</span></p>
            </div>
        </div>      
    </div>       
</div>