<h1 mat-dialog-title>Autorización de {{model}}</h1>
<p>¿Segura que deseas autorizar la siguiente {{model}}: {{name}}?</p>
<p>Se enviará un correo de notificación</p>
<div mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="true" style="background: green; color: white;">Autorizar {{model}}</button>
    <button mat-flat-button [mat-dialog-close]="false" cdkFocusInitial color="warn">Cancelar</button>
</div>