<div class = 'container'>
    <div class = 'square'>
        <p class ='font-malala'> Ingresa</p>
    </div>
    <div class="back">
    <button mat-button type="submit" (click)="backClicked()"><mat-icon style="color: white;" aria-hidden="false">arrow_forward</mat-icon></button>
</div>
</div>
<br>
<div class = 'container'>
    <form (submit) = "signUp()">
        <div class = 'square2'>
            <mat-form-field class="example-full-width" style = "margin-right: 10px;">
                <input matInput type= "text" [(ngModel)]='user.email' name= "email" placeholder="Email">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" style = "margin-right: 10px;">
                <input matInput type= "password" [(ngModel)]='user.clave' name= "clave" placeholder="Contraseña">
            </mat-form-field>
            <br>
            <p *ngIf="this.succes" class="error">Email o Contraseña incorrecta</p>
            <button mat-button type="submit" class="button">Ingresar</button>
            <br>
            <br>
            <a mat-button class = "font-autor" routerLink="/register"> Registrate Aqui </a>
       </div>
    </form>
</div>