
.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.square{
    width: 100%;
    height: 150px;
    line-height: 150px;
    background-color: #213e8c;
    text-align: center;
}

.square2{
    width: 100%;
    height: 200px;
    line-height: 50px;
    background-color: white;
    text-align: center;
}

.back{
    height: 150px;
    line-height: 150px;
    background-color: #213e8c;
    text-align: center;
}

.font-malala{
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 34px;
    margin-left: 30px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.button {
    background-color: #f3f2f2; 
    color: rgb(5, 5, 184); 
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.font-autor{
    font-weight: bold;
    color: blue;
    font-size: 15px;
    
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.error{
    color: red;
    font-weight: bold;
}