
.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.square{
    width: 100%;
    height: 150px;
    line-height: 150px;
    background-color: #213e8c;
    text-align: center;
}

.errors{
    font-weight: bold;
    color: red;
    font-size: 12px;
}

.square2{
    width: 100%;
    height: 200px;
    line-height: 50px;
    background-color: white;
    text-align: center;
}

.font-malala{
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 34px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
  }

.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button {
    background-color: #f3f2f2; 
    color: rgb(5, 5, 184); 
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.font-autor{
    font-weight: bold;
    color: blue;
    font-size: 15px;
    
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}