<div class = 'container'>
    <div class = 'square'>
        <p class ='font-malala'> Registrate</p>
    </div>
</div>
<br>
<div class = 'container'>
    <form (submit) = "registrarse()">
        <div class = 'square2'>
            <mat-form-field class="example-full-width" style = "margin-right: 10px;">
                <input matInput type= "text" [formControl]="emailControl" [(ngModel)]='user.email' name= "email" placeholder="Email">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" style = "margin-right: 10px;">
                <input matInput type= "password" [formControl]="passwordControl" [(ngModel)]='user.clave' name= "clave" placeholder="Contraseña">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" style = "margin-right: 10px;">
                <input matInput type= "password" [(ngModel)]='clave2' name= "clave2" placeholder="Confirmar contraseña">
            </mat-form-field>
            
            <br>
            <mat-form-field class="example-full-width" style = "margin-right: 10px;">
                <input matInput type= "text" [formControl]="nombreControl" [(ngModel)]='user.nombre' name= "nombre" placeholder="Nombre">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" style = "margin-right: 10px;">
                <input matInput type= "text" [formControl]="apellidoControl" [(ngModel)]='user.apellido' name= "apellido" placeholder="Apellido">
            </mat-form-field>
            <br>
            <div *ngIf="errors.notEmpty">{{errors.notEmpty}}</div>
            <div *ngIf="errors.passwordMatch" class="errors">{{errors.passwordMatch}}</div>
            <button mat-button type="submit" class="button">Registrarse</button>
            <br>
            <p>{{mensaje_error}}</p>
            <br>
            <a mat-button class = "font-autor" routerLink="/login"> ¿Ya tienes cuenta? </a>
       </div>
    </form>
</div>
<div class="square2">

</div>