<h1 mat-dialog-title>Cuidado</h1>
<p>¿Segura que deseas eliminar esta {{model}}?</p>
<div mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="true" style="background: green; color: white;">Eliminar {{model}}</button>
    <button mat-flat-button [mat-dialog-close]="false" cdkFocusInitial color="warn">Cancelar</button>
</div>