<div class="news-container">
    <div class ="square">
        <p class="font-malala"> Agregar Noticia</p>
    </div>
    <form (submit) = "publicar()" style = "margin-right: 30px; width: 100%">
        <div class = "square2">
            <mat-form-field   style = "margin-right: 10px; width: 60%">
                <input matInput [formControl]="tituloControl" type= "text" [(ngModel)]='noticia.titulo' name= "titulo" #titulo placeholder="Titulo">
            </mat-form-field>
            <br>
            <mat-form-field   style = "margin-right: 10px; width: 60%">
                <input matInput [formControl]="imagenControl" type= "text" [(ngModel)]='noticia.imagen' name= "imagen" #imagen placeholder="Url Imagen">
            </mat-form-field>
            <br>
            <mat-form-field   style = "margin-right: 10px; width: 60%; border-color: black;">
                <textarea #contenido [formControl]="contenidoControl" class= "texto-tamano" [(ngModel)]='noticia.contenido' name = "contenido"  rows="6" columns="20" id="input_text" type="text" mdbCharCounter matInput placeholder="Contenido"></textarea>
                <br>
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" class="button" color="primary">Publicar</button>
            <br>
            <br>
       </div>
    </form>
</div>