<div class="flex-container">
    <div class="square-participa">
        <p class="font-participa">Contáctanos</p>
    </div>
</div>
<form class="form-container" (submit)="submit()">
    <div id="cont1">
        <p class="font-estamos">Estamos a tus órdenes</p>
        <form></form>
        <table class="table-width"><tr>
            <td><mat-form-field style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input [(ngModel)]='mensaje.nombre' matInput [formControl]="nombreControl">
            </mat-form-field></td>
            <td><mat-form-field style="width: 100%;">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="emailFormControl" [(ngModel)]='mensaje.email'>
            </mat-form-field></td>
        </tr></table>
        <mat-form-field class="asunto">
            <mat-label>Asunto</mat-label>
            <input matInput [formControl]="asuntoControl" [(ngModel)]='mensaje.asunto'>
        </mat-form-field>
        <mat-form-field class="asunto">
            <mat-label>Mensaje</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." rows=8 [formControl]="mensajeControl" [(ngModel)]='mensaje.contenido'></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary">Enviar</button>
    </div>
    <div id="cont2"></div>
</form>
<div class = "flex-container">
    <div class="square3">
        <br>
        <p class="font-apoyo">Necesitamos de tu apoyo - sé parte de Patrones Hermosos
        </p><br>
        <button class="button">Contribuye</button>
    </div>
</div> 