.square-participa{
    width: 100%;
    height: 230px;
    line-height: 200px;
    background-color: hsl(224, 62%, 34%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square3{
    width: 100%;
    height: 200px;
    line-height: 40px;
    background-color: #213e8c;
    text-align: center; 
}

.button {
    background-color: #f3f2f2; 
    color: rgb(5, 5, 184); 
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.font-participa{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 80px;
    color: #fff;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif;
}


.font-apoyo{
    font-style: normal;
    font-weight: lighter;
    color: white;
    font-size: 40px;
    font-family:   sans-serif;
}

.table-width{
    width: 400px;
}

.asunto{
    align-items: flex-start;
    width: 400px;
}

.font-estamos {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal; 
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bolder;
    font-stretch: normal;
    font-size: 40px;
    color: #000;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif;
}

.form-container{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.form-container > div{
    min-width: 100px;
    min-height: 402px;
    width: 100%;
    text-align: center;
}

.form-container >div#cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container > div#cont2{
    background-image: url(../../../assets/img_about/portada7.png);
    height: 150%;
    min-width: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: center;
}