* {

    font-family: ’Lato’, sans-serif;
    margin: 0; 
    padding: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}

footer {
    width:100%;
    background-color: #fff;
    color: #000;
    line-height: 2;
}
footer a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #000;
    font-family:  ’Lato’, sans-serif;
    font-weight: bold;
    font-size: 1.375rem;
    padding-bottom: 0rem;
}
body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.br{
    display:block;
    margin-bottom: 0em; 
}
.container {
    flex: 1;    /* same as flex-grow: 1; */
}
.ft-main {
    min-width: 800px;
    align-items: center;
    justify-content: space-around;
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
}
.ft-main-item {
    vertical-align: super;
    padding: 1.25rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: inherit; 
    margin-bottom: 10px; 
} 

.input-button {
    width: 100%;
}
  
.icon { 
    padding: 10px; 
    color: rgb(223, 130, 145); 
    text-align: center; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(7, 8, 82);
    text-align: center;
    color: #fff;
}
