<link rel="stylesheet"
          href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <div class="container"></div>
    <footer>
      <section class="ft-main">
        <div class="ft-main-item">
          <img src="assets/logos/logo_tec.jpg">
          
          <h2 class="ft-title">Patrones Hermosos</h2>
          <pre>
          "Beautiful Patterns" o "Patrones 
          Hermosos"es un programa de Abel 
          Sánchez del MIT en conjunto con el Tec 
          de Monterrey, el CSOFTMTY y otras 
          universidades para empoderar a 
          mujeres
          Email: leticia@almaguer@tec.mx
          Escuela de Ingenieria y Ciencias
          Tecnológico de Monterrey 
          </pre>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Recibe actualizaciones mensuales</h2>
          <form [formGroup]="mailingListForm" (ngSubmit)="onSubmit(mailingListForm.value)">
            <div class="input-icons"> 
                <i class="fa fa-user icon"> </i> 
                <input class="input-field" type="text" placeholder="Nombre" formControlName="nombre"> 
            </div> 
            <div class="input-icons"> 
                <i class="fa fa-envelope icon"> </i> 
                <input class="input-field" type="text" placeholder="Correo electrónico" formControlName="email"> 
            </div> 
            <div class="input-icons">
                <mat-checkbox formControlName="politicas_privacidad">Acepto las políticas de privacidad</mat-checkbox>
            </div>
            <div class="input-icons">
                <button class="input-button" mat-flat-button color="accent" type="submit">Registrate</button>
            </div>
          </form>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Ligas Importantes</h2>
          <ul>
            <li><a routerLink="/about">Nosotros</a></li>
            <li><a routerLink="/participa">Apóyanos</a></li>
            <li><a routerLink="/noticias">Noticias</a></li>
            <li><a routerLink="/participa">Sedes</a></li>
            <li><a routerLink="/contacto">Contáctanos</a></li>
          </ul>
        </div>
      </section>
      <section class="ft-legal">
          <p>&copy; 2019 by Patrones Hermosos | Terminos de uso</p>
          <p>Hecho por: Daniel Carramiñana Carrasco y Alarico Mercado Vázquez</p>
      </section>
    </footer>
</body>