<div class="flex-container">
<div class= "container">
    <div class="tag">
        <p>PATRONES&nbsp;HERMOSOS</p>
        <br><br>
        <span style="font-size: 0.7em; font-weight: bold; color: white;"><p>del 11 al 15 de Enero de 2021</p></span>
    </div>
    <div class="tag3">
        <div id="cont1">
            <p class="font-title">Nuestra Misión</p>
            <p class="font-p">Mision, vision y compromiso</p>
        </div>
        <div id="cont2">
            <button class="button">PRÓXIMAMENTE</button>
            <p class="font-p">Si tienes entre 13 y 17 años y estás <br>estudiando secundaria o preparatoria <br>este programa es para tí</p>
        </div>
        <div id="cont3">
            <p class="font-title">Participa</p>
            <p class="font-p">Sé una instructora mexicana, <br>patrocinador, voluntario</p>
        </div>
    </div>
    <img src="assets/img/hands.jpg">
</div>

<div class= "container">  
    <app-ultimas-noticias></app-ultimas-noticias>
</div>
<div class= "container">
    <div class="square">
        <p class="font-malala">&nbsp;"Para&nbsp;hacerme&nbsp;poderosa&nbsp;sólo&nbsp;necesito&nbsp;una&nbsp;cosa:&nbsp;<span style="font-weight: bold;">educación</span>"
            <span style="font-family: avenir-lt-w01_35-light1475496, sans-serif; font-size: 18px; font-weight: normal"><br>Malala&nbsp;Yousafzai</span>
        </p>
    </div>
</div>
<div class="container" style="width=100%">
    <div class="campus-container">
        <div>
            <p class="font-sede">Más de 10<br> sedes a <br>nivel <br>nacional</p>
        </div>    
    </div>
    <div class="campus-container">
        <div class="campus-square">
        </div>
        <div class="campus-square2">
        </div>
    </div>
</div>

<div class="bottom-container" style="width=100%">
    <div class="other-bottom">
        <p class="font-dona">Sé parte del <br> cambio <br> <span style="font-size: 28px; font-weight:normal;">Empodera a niñas y jóvenes</span></p> 
        <button class="input-button" mat-flat-button color="accent">Tu donación hace sostenible el programa</button>
    </div>
    <div id="cont2">
    </div>
</div>