img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-container > div{
    width: 100%;
}

.button {
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #f3f2f2; 
    color: rgb(5, 5, 184); 
    border: none;
    padding: 18px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.campus-container{
    margin: 70px;
}

.square{
    width: 100%;
    height: 200px;
    line-height: 200px;
    background-color: #213e8c;
    text-align: center;
}

.square2{
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 0px;
    background-color: white;
    text-align: center;
}
.square3{
    
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    line-height: 10px;
    background-color: white;
    text-align: center;
    margin-left: 80px;
}
.square4{
    width: 100%;
    height: 120px;
    line-height: 200px;
    background-color: white;
    text-align: center;
}

.square p{
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.campus-square{
    background-image: url(../../../assets/img/campus-puebla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 348px;
    position: relative;
}

.campus-square2{
    background-image: url(../../../assets/img/campus-monterrey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 348px;
    position: relative;
}

.bottom-container{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.bottom-container > div{
    min-width: 100px;
    min-height: 402px;
    width: 100%;
    text-align: center;
}

.bottom-container > div#cont2{
    background-image: url(../../../assets/img/women-hands.jpg);
    height: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: center;
}

.other-bottom{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 525px;
    width: 1300px;
    flex-direction: column;
    background-color:  #213e8c;
}

.input-button {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
}

.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
    color: blue;
}

.tag3{
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.tag3 > div{
    min-width: 300px;
    min-height: 100px;
    width: 100%;
    text-align: center;
}

.tag3 > div#cont1{
    background-color: #ec5e87;
    height: 100%;
    color:white;
}

.tag3 > div#cont2{
    background-color: #7dabf4;
    height: 100%;
    color:white;
}

.tag3 > div#cont3{
    background-color: #213e8c;
    height: 100%;
    color:white;
}

.font-title{
    margin-top: 1.5em;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 40px;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif; 
}

.font-p{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.font-malala{
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 34px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.font-sede{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    color: #333333;
    font-size: 70px;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif;
}

.font-dona{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 60px;
    color: #fff;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif;
}

.row {
    display: flex;
  }
  
.column2 {
    position: relative;
    flex: 33.33%;
    padding: 80px;
    
  }


.img-tamano{
    
    width: 300px;
    height: auto;
    padding: 20px;

}

.img-fondo{
    
    width: 3000px;
    height: auto;

}