.asesor-form {
    min-width: 300px;
    max-width: 800px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 150px;
  }
  
  .container {
      width: 100%;
      display: flex;
      justify-content: left;
  }
  .asesor-full-width {
    width: 100%;
  }

  .patron {
    min-width: 0px;
    max-width: 500px;
    width: 100%;
    background-image: url('../../../../assets/patrones/patronesinscripcion.jpg');
  }
  

  .asesor-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .asesor-radio-button {
    margin: 5px;
  }

.sub-section{
  font-size: x-large;
  font-weight: bold;
}