<div class='container'>
  <div class="patron"></div>
    <form class="asesor-form" (submit) = "ingresar()">
    
      <button mat-raised-button routerLink='/inicio' class="button" color="warn" style="float:center">Volver a la página principal</button>
      <br>
      <br>
      <br><br>
      <p style="font-size: 50px; font-weight: bold; line-height: 1em;">Formulario de inscripción</p>
      <br><br><br>
      <label id="personal-label" class="sub-section">Información Personal</label><br><br>
      <table class="asesor-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="asesor-full-width">
          <mat-label>Nombre(s)</mat-label>
          <input [formControl]="nombre" [(ngModel)]='asistente.nombre' name="nombre" matInput>
        </mat-form-field></td>
        <td><mat-form-field class="asesor-full-width">
          <mat-label>Apellidos</mat-label>
          <input [formControl]="apellido" [(ngModel)]='asistente.apellido' name="apellido" matInput>
        </mat-form-field></td>
      </tr></table>
    
    
      <mat-form-field class="asesor-full-width">
        <mat-label>Correo Electrónico</mat-label>
        <input [(ngModel)]='asistente.email' name="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ex. patrones@gmail.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Ingresa una cuenta de correo válida
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          El email es <strong>necesario</strong>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="asesor-full-width">
        <mat-label>Domicilio</mat-label>
        <input [formControl]="direccion" [(ngModel)]='asistente.direccion' name="direccion" matInput >
      </mat-form-field>

      <table class="asesor-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="asesor-full-width">
          <mat-label>Estado/Provincia del domicilio</mat-label>
          <mat-select [formControl]="estado" [(ngModel)]="selectedValueEstado" name="estado" [(ngModel)]='asistente.estado' name="estado">
            <mat-option *ngFor="let estado of estados" [value]="estado.value">
              {{estado.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field></td>
        <td><mat-form-field class="asesor-full-width">
          <mat-label>Ciudad de Domicilio</mat-label>
          <input [formControl]="ciudad" [(ngModel)]='asistente.ciudad' name="ciudad" matInput>
        </mat-form-field></td>
        <td><mat-form-field class="asesor-full-width">
          <mat-label>Municipio</mat-label>
          <input [formControl]="municipio" [(ngModel)]='asistente.municipio' name="municipio" matInput>
        </mat-form-field></td>
      </tr></table>

      <table class="asesor-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="asesor-full-width">
          <mat-label>Codigo postal del domicilio</mat-label>
          <input [formControl]="codigo_postal" [(ngModel)]='asistente.codigo_postal' name="codigo_postal" matInput>
        </mat-form-field></td>
        <td><mat-form-field class="asesor-full-width">
          <mat-label>Pais del domicilio</mat-label>
          <input [formControl]="pais" [(ngModel)]='asistente.pais' name="pais" matInput>
        </mat-form-field></td>
      </tr></table>

      <table class="asesor-full-width" cellspacing="0"><tr>
        <td><label id="tel-label">Teléfono</label><br>
          <mat-form-field>
        <span matPrefix>+52 &nbsp;</span>
        <input [formControl]="telefono" [(ngModel)]='asistente.telefono' name="telefono" type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field></td>
      <td><label id="FdN-label">Fecha de Nacimiento</label><mat-form-field class="asesor-full-width">
        <input [formControl]="fecha_de_nacimiento" [(ngModel)]='asistente.fecha_de_nacimiento' name="fecha_de_nacimiento" type="date" matInput >
      </mat-form-field></td>
      </tr></table>

      <br><br><label id="escolar-label" class="sub-section">Información Escolar</label><br><br>
      <mat-form-field class="asesor-full-width">
        <mat-label>Nombre de la escuela en la que realizas tus estudios </mat-label>
        <input [formControl]="escuela" [(ngModel)]='asistente.escuela' name="escuela" matInput >
      </mat-form-field>

      <mat-form-field class="asesor-full-width">
        <mat-label>Tipo de escuela</mat-label>
        <mat-select  [formControl]="tipo_escuela" [(ngModel)]="selectedValueTipo" name="tipos" [(ngModel)]='asistente.tipo_escuela' name="tipo_escuela">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{tipo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="asesor-full-width">
        <mat-label>Grado escolar</mat-label>
        <mat-select [formControl]="grado" [(ngModel)]="selectedValueGrad" name="grado" [(ngModel)]='asistente.grado' name="grado">
          <mat-option *ngFor="let grado of grados" [value]="grado.value">
            {{grado.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <label id="promedio-label">Promedio en escala de 1.00 a 100.00 del año escolar inmediato anterior (esta información sólo es para fines estadísticos y no se usará para elegir a las participantes)</label><br>
      <mat-form-field class="asesor-full-width">
        <input [(ngModel)]='asistente.promedio' min="1.00" max="100.00" [formControl]="promedio" name="promedio" type="number" matInput placeholder="Promedio" >
      </mat-form-field>

      <table class="asesor-full-width" cellspacing="0"><tr>
        <td><label id="disp-radio-group-label">¿Participaste en el campamento Patrones Hermosos del MIT el año pasado?</label>
      <mat-radio-group 
        aria-labelledby="asesor-radio-group-label"
        class="asesor-radio-group"
        [(ngModel)]='asistente.participo_antes' name="participo_antes">
        <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
        <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
      </mat-radio-group>
      </td>
      <td><label id="experiencia-radio-group-label">¿Has tomado clases de programación, robótica, diseño de video juegos antes de este taller?</label>
      <mat-radio-group
        aria-labelledby="asesor-radio-group-label"
        class="asesor-radio-group"
        [(ngModel)]='asistente.clase_previa' name="clase_previa">
        <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
        <mat-radio-button [checked] = true class="asesor-radio-button" value="false" >No</mat-radio-button>    
      </mat-radio-group>
      </td></tr></table>

    <label id="experiencia-radio-group-label">¿Has considerado estudiar alguna carrera relacionada con ingeniería o tecnología?</label>
        <mat-radio-group
            aria-labelledby="asesor-radio-group-label"
            class="asesor-radio-group"
            [(ngModel)]='asistente.estudiar_tic' name="estudiar_tic">
        <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
        <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
    </mat-radio-group>

    <br><label id="personal-label" class="sub-section">Información del o la Tutora</label><br><br>
    <div *ngIf="no_edit">
      <mat-form-field class="asesor-full-width">
        <mat-label>Nombre Completo</mat-label>
        <input [formControl]="tutor_nombre" [(ngModel)]='tutor.nombre' name="nombre" matInput >
      </mat-form-field>

      <table class="asesor-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="asesor-full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input  [(ngModel)]='tutor.email' name="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                 placeholder="Ex. patrones@gmail.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Ingresa una cuenta de correo válida
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            El email es <strong>necesario</strong>
          </mat-error>
        </mat-form-field></td>
        <td><mat-form-field>
        <mat-label>Telefono </mat-label>
        <span matPrefix>+52 &nbsp;</span>
        <input [formControl]="tutor_telefono" [(ngModel)]='tutor.telefono' name="telefono" type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field></td>
      
      </tr></table>

      </div>
      <br><label id="personal-label" class="sub-section">Información Adicional</label><br><br>
    <mat-form-field class="asesor-full-width">
        <mat-label>¿Como te enteraste de este evento?</mat-label>
        <input [formControl]="como_entra" [(ngModel)]='asistente.como_entro' name="como_entro" matInput >
    </mat-form-field>

    <mat-form-field class="asesor-full-width">
        <mat-label>Talla de camiseta</mat-label>
        <mat-select [formControl]="talla" [(ngModel)]="selectedValueTalla" name="tallas" [(ngModel)]='asistente.talla' name="talla">
          <mat-option *ngFor="let tallas of tallas" [value]="tallas.value">
            {{tallas.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="asesor-full-width">
        <mat-label>Estatura en metros (por ejemplo 1.50 m)</mat-label>
        <input [formControl]="estatura" type="number" step="0.01" [(ngModel)]='asistente.estatura' name="estatura" matInput >
      </mat-form-field>
      
      <br>
      <br>
      <mat-checkbox [checked]= true  [(ngModel)]='asistente.aviso_privacidad' name="aviso_privacidad">Aceptas nuestro aviso de privacidad (en caso de no aceptar se eliminarán los datos y NO se procederá al registro).<br> Puedes revisar nuestro aviso en: http://bit.ly/avisoPrivacidadPatronesHermosos</mat-checkbox>
      <br>
      <br>
      <mat-checkbox [checked]= true  [(ngModel)]='asistente.autorizacion_medios' name="autorizacion_medios">Autorizacion de Medios</mat-checkbox>
      <br>
      <br>
      <mat-form-field class="asesor-full-width">
        <mat-label>SEDE en la que te inscribes</mat-label>
        <mat-select [formControl]="sede_id" [(ngModel)]="selectedValueSede" name="sedes" [(ngModel)]='asistente.sede_id' name="sede_id">
          <mat-option *ngFor="let sedes of sedes" [value]="sedes.value">
            {{sedes.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <label id="experiencia-radio-group-label">¿Tienes una  laptop que pudieras traer al taller (no es obligatorio)?</label>
        <mat-radio-group
            aria-labelledby="asesor-radio-group-label"
            class="asesor-radio-group"
            [(ngModel)]='asistente.tiene_laptop' name="tiene_laptop">
        <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
        <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
    </mat-radio-group>

    <mat-form-field class="asesor-full-width">
        <mat-label>Escribe tu nombre como quieres que aparezca en el diploma</mat-label>
        <input [formControl]="nombre_diploma" [(ngModel)]='asistente.nombre_diploma' name="nombre_diploma" matInput >
      </mat-form-field>

    <br>
    <br><br>
    <div *ngIf="no_edit; else elseBlock">
      <button mat-raised-button type="submit" class="button" style="float:center" color="primary">Registrar Información</button>
    </div>
    <ng-template #elseBlock>
      <button mat-raised-button type="submit" class="button" style="float:center" color="accent">Aplicar cambios</button>
    </ng-template>
    </form>
</div>