<h1 mat-dialog-title>Éxito en la inscripción {{model}}</h1>
<p>¡Felicidades {{name}}, el registro de información y solicitud al programa Patrones Hermosos 2021 fue exitoso!</p>
<p>El equipo administrativo revisará tu registro como {{model}} y te notificará por correo el resultado</p>
<div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close style="background: green; color: white;">Aceptar</button>
</div>