.campus-container{
    margin: 70px;
}
 
.descripcion-container{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
}


.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.square{
    width: 100%;
    height: 150px;
    line-height: 180px;
    background-color: #213e8c;
    text-align: center;
}
.square2{
    width: 100%;
    padding-top: 50px;
    height: 170px;
    line-height: 50px;
    background-color: rgb(236,94,135);
    text-align: center;
}

.square3{
    width: 100%;
    height: 170px;
    line-height: 50px;
    padding-top: 40px;
    background-color: #213e8c;
    text-align: center;
}
.button {
    background-color: #f3f2f2; 
    color: rgb(5, 5, 184); 
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    background-color: blue;
}

.font-patrones-titulo{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 45px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.font-aprender-patrones{
    font-style: italic;
    font-weight: normal;
    color: black;
    font-size: 30px;
    line-height: 1.5em;
    font-family:  Arial, Helvetica, sans-serif;
}

.font-believe{
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 40px;
    font-family:   sans-serif;
}


.font-descripcion-principal{
    align-items: center;
    font-style: normal;
    text-align: left;
    align-self: center;
    color: black;
    font-size: 25px;
    line-height: 1.3em;
    font-family:  Arial, Helvetica, sans-serif;
}


.img-tamano{
    margin-left: 25px;
    margin-bottom: 30px;
    width: 250px;
    height: auto;
}


.img-tamano2{
    margin-top: 20px;
    margin-left: 25px;
    width: 520px;
    height: auto;
}

.img-tamano3{
    position: relative;

    margin-left: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: auto;
}
.img-tamano4{
    position: relative;
    margin-left: 20px;
    margin-bottom: 60px;
    width: 350px;
    height: auto;
}
.img-tamano5{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    height: auto;
}

.img-tamano6{
    position: relative;
    margin-left: 20px;
    margin-bottom: 80px;
    width: 250px;
    height: auto;
}

.campus-square{
    background-image: url(../../../assets/img_about/portada6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    width: 748px;
    position: relative;
}

.campus-square2{
    text-align: right;
    float: right;
    background-image: url(../../../assets/img/campus-monterrey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 348px;
    position: relative;
}

.tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
    color: blue;
}

.tag3{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.tag3 > div{
    min-width: 100px;
    min-height: 402px;
    width: 100%;
    text-align: center;
}

.tag3 > div#cont1{
    padding-top: 70px;
    background-color:white;
    height: 100%;
    color:black;
}

.tag3 > div#cont2{
    background-image: url(../../../assets/img_about/portada6.png);
    height: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: center;
}

.tag3 > div#cont3{
    background-image: url(../../../assets/img_about/dibujo.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: center;
    
}


.font-title{
    margin-top: 3em;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 40px;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif; 
}

.font-p{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: 1.3em;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.font-apoyo{
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 30px;
    font-family:   sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}