<div class = "container">
    <div class="square">
        <p class="font-patrones-titulo">&nbsp;Patrones&nbsp;Hermosos&nbsp;
        </p>
    </div>
</div>
<div >
    <div class = "descripcion-container">
        <p class = "font-aprender-patrones">Aprender&nbsp;Patrones&nbsp;de&nbsp;Diseño&nbsp;es&nbsp;encender&nbsp;una&nbsp;flama,&nbsp;nuestra&nbsp;meta <br>es&nbsp;encender&nbsp;la&nbsp;chispa&nbsp;de&nbsp;tus&nbsp;sueños.</p>
    </div>
    <div class = "descripcion-container">
        <p class = "font-descripcion-principal">Buscamos&nbsp;empoderar&nbsp;a&nbsp;chicas&nbsp;mexicanas,&nbsp;desarrollando&nbsp;sus<br> conocimientos&nbsp;y&nbsp;habilidades&nbsp;de&nbsp;pensamiento&nbsp;computacional, <br>permitiéndoles&nbsp;alcanzar&nbsp;su&nbsp;máximo&nbsp;potencial&nbsp;y&nbsp;transformar&nbsp;sus <br>familias&nbsp;y&nbsp;comunidades,&nbsp;ayudando&nbsp;a&nbsp;México&nbsp;a&nbsp;competir<br> globalmente.</p>
    </div>
    <div class="row">
        <div class="column">
            <img style="width:100%" src="assets/img_about/portada1.jpg">
            <img style="width:100%" src = "assets/img_about/portada5.jpg">
         </div>
         <div class="column">
            <img style="width:100%" src= "assets/img_about/portada3.jpg">
            <img style="width:100%" src = "assets/img_about/portada7.png">
        </div>
        <div class="column">
            <img style="width:100%" src = "assets/img_about/portada4.jpg">
            <img style="width:100%" src = "assets/img_about/portada2.jpg">
        </div>
    </div>
</div>
<div class = "container">
    <div class="square2">
        <p class="font-believe">We&nbsp;believe&nbsp;all&nbsp;women&nbsp;can&nbsp;embrace&nbsp;who&nbsp;they&nbsp;are, <br> can define their future, and can&nbsp;change the world.</p>
    </div>
</div>

<div class="flex-container">
    <div class= "container">
        
        <div class="tag3">
            <div id="cont1">
                <p class="font-title">Nuestra&nbsp;Misión</p>
                <br>
                <p class="font-p">Desarrollar&nbsp;las&nbsp;habilidades&nbsp;de&nbsp;pensamiento <br> algorítmico&nbsp;de&nbsp;jóvenes&nbsp;mujeres,&nbsp;a&nbsp;través&nbsp;de&nbsp;un <br>programa&nbsp;de&nbsp;alto&nbsp;nivel,&nbsp;impartido&nbsp;por&nbsp;mujeres <br> estudiantes&nbsp;del&nbsp;MIT&nbsp;y&nbsp;de&nbsp;otras&nbsp;prestigiosas <br> universidades,&nbsp;que&nbsp;les&nbsp;permita&nbsp;exponer&nbsp;su&nbsp;talento&nbsp;a <br> nivel&nbsp;internacional</p>
            </div>
            <div id="cont2">
              
            </div>
 
        </div>
       
    </div>
</div>

<div class="flex-container">
    <div class= "container">
        
        <div class="tag3">
            <div id="cont3">
                
            </div>
            <div id="cont1">
                <p class="font-title">Nuestra&nbsp;Visión</p>
                <br>
                <p class="font-p">Impulsar&nbsp;la&nbsp;transformación&nbsp;de&nbsp;la&nbsp;economía&nbsp;por <br>medio&nbsp;de&nbsp;jóvenes&nbsp;talentosas,&nbsp;cuyas&nbsp;capacidades <br>desarrolladas&nbsp;dentro&nbsp;del&nbsp;programa&nbsp;les&nbsp;permitan <br>competir&nbsp;globalmente&nbsp;y&nbsp;acceder&nbsp;a&nbsp;mejores <br>oportunidades&nbsp;de&nbsp;educación&nbsp;y&nbsp;trabajo.</p>
            </div>
 
        </div>
       
    </div>
</div>
<div class = "container">
    <div class="square3">
        <p class="font-apoyo">Necesitamos de tu apoyo - sé parte de Patrones Hermosos
        </p>
        <button class="button">Contribuye</button>
    </div>
</div>