table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

.square2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  background-color: rgb(236,94,135);
  text-align: center;
  margin-top: 50px;
    margin-bottom: 50px;
}
.font-believe{
  font-style: italic;
  font-weight: normal;
  color: white;
  font-size: 40px;
  font-family:   sans-serif;
}

.container{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}