<div class="container">
    <div class="square2">
        <p class="font-believe">Sedes inscritas</p>
    </div>
    <button mat-raised-button (click)="exportExcel()" style="background-color: blueviolet; color: white; margin-left: 20px;">Exportar a Excel</button>
    <div style="overflow-x:auto;">
        <table id="excel_table">
            <tr>
                <th>ID</th>
                <th>Nombre&nbsp;de&nbsp;la&nbsp;institución</th>
                <th>Editar&nbsp;Sede</th>
                <th>Autorizar&nbsp;Sede</th>
                <th>Rechazar&nbsp;Sede</th>
                <th>Estado</th>
                <th>Campus sede (Tec&nbsp;de&nbsp;Monterrey)</th>
                <th>Cantidad de asistentes&nbsp;inscritos</th>
                <th>Cantidad de&nbsp;Instructoras</th>
                <th>Nombre Responsable&nbsp;académico</th>
                <th>Correo Responsable&nbsp;académico</th>
                <th>Teléfono Responsable&nbsp;académico</th>
                <th>Nombre Responsable&nbsp;académico (Alternativo)</th>
                <th>Correo Responsable&nbsp;académico (Alternativo)</th>
                <th>Nombre Contacto&nbsp;de&nbsp;captación</th>
                <th>Correo Contacto&nbsp;de&nbsp;captación</th>
                <th>Teléfono Contacto&nbsp;de&nbsp;captación</th>
                <th>Nombre Programas&nbsp;Internacionales</th>
                <th>Correo Programas&nbsp;Internacionales</th>
                <th>Teléfono Programas&nbsp;Internacionales</th>
                <th>Nombre Programas&nbsp;Internacionales (Alternativo)</th>
                <th>Correo Programas&nbsp;Internacionales (Alternativo)</th>
                <th>Dirección&nbsp;completa</th>
                <th>Nivel&nbsp;de&nbsp;estudios en que participa la sede</th>
                <th>¿La&nbsp;sede&nbsp;participó en la edición 2019?</th>
                <th>¿Cuentan&nbsp;con&nbsp;laboratorios de computadoreas donde cada participante tenga acceso a una computadora?</th>
                <th>Número&nbsp;de&nbsp;participantes a las que desea atender en 2021 y con el que se comprometería la sede en caso de ser elegida como tal</th>
                <th>¿Cuentan&nbsp;con&nbsp;salones que tengan pizarrón, sillas, mesas y proyector?</th>
                <th>Número&nbsp;de&nbsp;profesoras que apoyarían durante el evento</th>
                <th>¿Donde&nbsp;se&nbsp;hospedarían las jóvenes instructoras del MIT?</th>
                <th>¿A&nbsp;qué&nbsp;distancia&nbsp;de&nbsp;la&nbsp;Sede se encuentra el lugar donde se hospedarían las instructoras del MIT (km)?</th>
                <th>¿Cuántas asistentes universitarias podrían involucrar como voluntarias/instructoras?</th>
                <th>¿Se&nbsp;comprometen&nbsp;a&nbsp;dar alimentos a las jóvenes que asistan, así como a sus instructoras por los 5 días del campamento?</th>
                <th>¿Se&nbsp;comprometen&nbsp;a&nbsp;obtener los fondos necesarios a fin de proveer a las asistentes de: materiales, camisetas, diplomas?</th>
                <th>¿Se&nbsp;comprometen&nbsp;a&nbsp;transportar de forma segura a las instructoras del MIT, del aeropuerto a su lugar de hospedaje, durante los talleres de su lugar de hospedaje a la sede (ida y vuelta) y de regreso al aeropuerto?</th>
                <th>¿Se&nbsp;comprometen&nbsp;a&nbsp;obtener permisos firmados de los padres para hacer investigación así como para tomar fotos?</th>
                <th>¿Se&nbsp;comprometen&nbsp;a&nbsp;apoyar para aplicar los instrumentos de investigación que nos permitan medir el éxito del programa?</th>
                <th>¿Se&nbsp;comprometen&nbsp;a&nbsp;compartir las fotos y videos únicamente con los organizadores durante y posterior al evento pero no a ningún medio con fines comerciales?</th>
                <th>¿Aceptan&nbsp;que&nbsp;los&nbsp;datos de las participantes los concentre el programa Patrones Hermosos y únicamente comparta con cada sede los respectivos?</th>
                <th>Comentarios&nbsp;o&nbsp;dudas</th>
                
            </tr>

            <tr *ngFor="let sede of sedes">
                <td>{{sede.id}}</td>
                <td>{{sede.nombre_institucion}}</td>
                <td><button mat-raised-button color="accent" routerLink="/formulario-sede/{{sede.id}}">Editar</button></td>
                <td *ngIf="sede.autorizado; else elseBlockAuth">Autorizada</td>
                    <ng-template #elseBlockAuth>
                        <td><button mat-raised-button style="background: green; color: white;" (click)="openAcceptDialog(sede.id, sede.nombre_institucion)">Autorizar</button></td></ng-template>
                <td><button mat-raised-button color="warn" (click)="openWarnDialog(sede.id)">Rechazar</button></td>
                <td>{{sede.estado}}</td>
                <td>{{sede.campus}}</td>
                <td>{{sede.asistentes.length}}</td>
                <td>{{sede.teachings.length}}</td>
                <td>{{sede.responsable_academico.nombre}}</td>
                <td>{{sede.responsable_academico.email}}</td>
                <td>{{sede.responsable_academico.telefono}}</td>
                <td *ngIf="sede.responsable_academico.nombre_alt; else elseAlt">{{sede.responsable_academico.nombre_alt}}</td>
                  <ng-template #elseAlt><td>No fue especificado</td></ng-template>  
                <td *ngIf="sede.responsable_academico.email_alt; else elseAlt">{{sede.responsable_academico.email_alt}}</td>

                
                <td>{{sede.contacto_captacion.nombre}}</td>
                <td>{{sede.contacto_captacion.email}}</td>
                <td>{{sede.contacto_captacion.telefono}}</td>
                <td>{{sede.programas_internacionale.nombre}}</td>
                <td>{{sede.programas_internacionale.email}}</td>
                <td>{{sede.programas_internacionale.telefono}}</td>

                <td *ngIf="sede.programas_internacionale.nombre_alt; else elseAlt">{{sede.programas_internacionale.nombre_alt}}</td>
                <td *ngIf="sede.programas_internacionale.email_alt; else elseAlt">{{sede.programas_internacionale.email_alt}}</td>

                <td>{{sede.direccion}}</td>
                <td>{{sede.nivel}}</td>
                <td *ngIf="sede.participo_antes; else elseBlock">Si</td>
                <ng-template #elseBlock><td>No</td></ng-template>
                <td *ngIf="sede.labo_disp; else elseBlock">Si</td>
                <td>{{sede.no_participantes}}</td>
                <td *ngIf="sede.salones_disp; else elseBlock">Si</td>
                <td>{{sede.no_profesores}}</td>
                <td>{{sede.exp_hospedaje}}</td>
                <td>{{sede.dist_sede}}</td>
                <td>{{sede.cantidad_asistentes}}</td>
                <td *ngIf="sede.compromiso_alimentos; else elseBlock">Si</td>
                <td *ngIf="sede.compromiso_fondos; else elseBlock">Si</td>
                <td *ngIf="sede.compromiso_transportar; else elseBlock">Si</td>
                <td *ngIf="sede.compromiso_permisos; else elseBlock">Si</td>
                <td *ngIf="sede.compromiso_apoyo; else elseBlock">Si</td>
                <td *ngIf="sede.compromiso_fotos; else elseBlock">Si</td>
                <td *ngIf="sede.aceptar_datos; else elseBlock">Si</td>
                <td>{{sede.comentarios}}</td>
            </tr>
        </table>
    </div>
</div>


