.container {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px;
}

.font{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 70px;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif;
    color: #333333;
}

.tag {
    font-size: 5em;
    font-weight: bold;
    color: black;
}

.news-container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.titulo_noticia{
    overflow: hidden;
    margin-left: 15px;
    margin-right: 10px;
    font-weight: bolder;
    white-space: nowrap;
    font-size: 20px;
    text-overflow: ellipsis; 
}

.news-container > div{
    margin-left: 15px;
    width: 300px; 
    overflow: hidden;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(141, 129, 129, 0.411);
    border-radius: 5px;
}

.img-tamano{
    object-fit: contain;
    width: 300px;
    height: 180px;
}

.info_noticia{
    display: flex;
    justify-content: space-evenly;
}

