<div class="container">
    <div class="tag">
        <p class="font">Últimas noticias</p>
    </div>
    <div class="news-container">
        <div>
            <img (click)= 'enviarnoticia(noticias[noticias1].id)' class = "img-tamano" src={{noticias[noticias1].imagen}}>
            <br>
            <p class="titulo_noticia"(click)= 'enviarnoticia(noticias[noticias1].id)'>{{noticias[noticias1].titulo}}</p> 
            <br><br>
            <div class="info_noticia"> 
                <p><mat-icon aria-hidden="false">visibility</mat-icon> {{noticias[noticias1].visitas}}  </p>
                <p  (click)= 'enviarnoticia(noticias[noticias1].id)'> Escribir un comentario   </p>    
                <p>{{noticias[noticias1].likes}}   <mat-icon (click) = "likear(noticias[noticias1].id,noticias[noticias1].likes)" color="accent">favorite</mat-icon></p>
            </div>
        </div>
        <div>
            <img (click)= 'enviarnoticia(noticias[noticias2].id)' class = "img-tamano" src={{noticias[noticias2].imagen}}>
            <br>
            <p class="titulo_noticia" (click)= 'enviarnoticia(noticias[noticias2].id)'>{{noticias[noticias2].titulo}}</p> 
            <br><br>
            <div class="info_noticia"> 
                <p><mat-icon aria-hidden="false">visibility</mat-icon> {{noticias[noticias2].visitas}}  </p>
                <p  (click)= 'enviarnoticia(noticias[noticias2].id)'> Escribir un comentario   </p>    
                <p>{{noticias[noticias2].likes}}   <mat-icon (click) = "likear(noticias[noticias2].id,noticias[noticias2].likes)" color="accent">favorite</mat-icon></p>
            </div>      
        </div>
        <div>
            <img (click)= 'enviarnoticia(noticias[noticias3].id)'  class = "img-tamano" src={{noticias[noticias3].imagen}}>
            <br>
            <p class="titulo_noticia" (click)= 'enviarnoticia(noticias[noticias3].id)'>{{noticias[noticias3].titulo}}</p> 
            <br>
            <br>
            <div class="info_noticia"> 
                <p><mat-icon aria-hidden="false">visibility</mat-icon> {{noticias[noticias3].visitas}}  </p>
                <p  (click)= 'enviarnoticia(noticias[noticias3].id)'> Escribir un comentario   </p>    
                <p>{{noticias[noticias3].likes}}   <mat-icon (click) = "likear(noticias[noticias3].id,noticias[noticias3].likes)" color="accent">favorite</mat-icon></p>
            </div>
        </div>
    </div>
</div>
