.square-participa{
    width: 100%;
    height: 230px;
    line-height: 200px;
    background-color: hsl(224, 62%, 34%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-sumate{
    width: 100%;
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square-foto{
    width: 100%;
    height: 600px;
    display: flex;

}

.square-contribuir{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square-formularios{
    width: 100%;
    bottom: 0%;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.square-formularios > div{
    min-width: 300px;
    min-height: 360px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}

.square-formularios > div#cont1{
    background-color: #ec5e87;
    height: 100%;
    color:white;
}

.square-formularios > div#cont2{
    background-color: #7dabf4;
    height: 100%;
    color:white;
}

.square-formularios > div#cont3{
    background-color: #213e8c;
    height: 100%;
    color:white;
}

img {
    width: 100%;
    object-fit: cover;
}


.img-icon{
    width: 64px;
    height: 64px;;
}
.font-participa{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 80px;
    color: #fff;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif;
}

.font-sumate{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 40px;
    color: #000000;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif;  
    text-align: center; 
}

.font-sumate2{
    font-style: normal;   
    font-weight: normal;
    font-stretch: normal;
    font-size: 15px;
    color: #000000;
    line-height: 2em;
    text-align: center; 
}

.font-cont-titulo{
    font-style: normal;   
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 30px;
    color: #fff;
    line-height: 2em;
    font-family: poppins-semibold, poppins, sans-serif;  
    text-align: center; 
}