<div class="flex-container">
    <div class="square-participa">
        <p class="font-participa">Participa</p>
    </div>
    <div class="square-sumate"> 
        <p class="font-sumate">Súmate todos tenemos <br>una manera de <br>contribuir</p>
        <p class="font-sumate2">Sé una instructora mexicana de la mano de instructoras del MIT, patrocina y haz <br>posible el evento, recibe a un grupo en tu escuela o empresa, difunde el evento <br>en tu escuela, con otros padres de familia<br>¡Pasa la voz!</p>
    </div>
    <div class="square-foto">
        <img src="assets/img/banderas.jpg">
    </div>
    <div class="square-contribuir">
        <p class="font-sumate">Haz posible el sueño de miles de chicas</p>
        <p class="font-sumate2">Formas de contribuir</p>
    </div>
    <div class="square-formularios">
        <div id="cont1">
            <img class="img-icon" src="assets/img/usuario.png">
            <p class="font-cont-titulo">Sé una instructora</p>
            <p>Aprende, enseña y sé un ejemplo para<br>las niñas participantes</p>
            <button class="input-button" mat-flat-button color="basic" routerLink='/formulario-instructora'>Postúlate como instructora</button>
        </div>
        <div id="cont2">
            <img class="img-icon" src="assets/img/eternidad.png">
            <p class="font-cont-titulo">Patrocina</p>
            <p>Haz un donativo del tamaño de tus posibilidades</p>
            <button class="input-button" mat-flat-button color="basic">Haz una donación</button>
        </div>
        <div id="cont3">
            <img class="img-icon" src="assets/img/trabajo.png">
            <p class="font-cont-titulo">Sé una sede</p>
            <p>Postúlate para recibir el evento</p>
            <button class="input-button" mat-flat-button color="basic" routerLink='/formulario-sede'>Regístrate como sede</button>
        </div>
    </div>
</div>