<div class = "container">
    <div class="square">
        <p class="font-equipo-titulo">El Equipo<br></p>
    </div>
</div>

<div class = "container">
    <div class="square">
        <div class = "row">
          <div class="column2">
            <div class = "square2"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano" src="assets/equipo/abel.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Abel Sanchez</p> 
                    </div>
                </div>
            </div>
          </div>
          <div class="column2">
            <div class = "square3"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano2" src="assets/equipo/juan.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Juan Arturo Nolazco</p> 
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<br>
<br>
<div class = "container">
    <div class="square">
        <div class = "row">
          <div class="column2">
            <div class = "square2"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano" src="assets/equipo/angeles.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Iliana Ramírez</p> 
                    </div>
                </div>
            </div>
          </div>
          <div class="column2">
            <div class = "square3"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano2" src="assets/equipo/jorge.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Jorge Treviño</p> 
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<br>
<br>
<div class = "container">
    <div class="square">
        <div class = "row">
          <div class="column2">
            <div class = "square2"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano" src="assets/equipo/iliana.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Angeles Vela</p> 
                    </div>
                </div>
            </div>
          </div>
          <div class="column2">
            <div class = "square3"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano2" src="assets/equipo/patricia.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Patricia Jaques</p> 
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<br>
<br>
<div class = "container">
    <div class="square">
        <div class = "row">
          <div class="column2">
            <div class = "square2"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano" src="assets/equipo/kasturi.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Kasturi Sanjiv</p> 
                    </div>
                </div>
            </div>
          </div>
          <div class="column2">
            <div class = "square3"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano2" src="assets/equipo/pushpita.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Pushpita<br>Bhattacharjee</p> 
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<br>
<br>
<div class = "container">
    <div class="square">
        <div class = "row">
          <div class="column2">
            
          </div>
          <div class="column2">
            <div class = "square3"> 
                <div class = "row">
                    <div class = "column2">
                        <img class= "img-tamano2" src="assets/equipo/sonia.png"> 
                    </div>
                    <div class = "column3">
                        <p class="font-nombre">Sonia Tijerina</p> 
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
