.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.square{

    width: 100%;
    height: 150px;
    line-height: 60px;
    background-color: white;
    text-align: center;
}

.square2{
    width: 50%;
    height: 150px;
    line-height: 20px;
    background-color:	#f9f9f9;
    text-align: center;
    margin-left: 100px;
}

.square3{
    width: 50%;
    height: 150px;
    line-height: 20px;
    background-color:	#f9f9f9;
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
}

.font-equipo-titulo{
    margin-top: 30px;
    font-style: normal;
    text-decoration: underline;
    font-weight: bold;
    color: #213e8c;
    font-size: 80px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.img-tamano{
    
    width: 100px;
    height: auto;
    padding: 20px;

}

.img-tamano2{
    
    width: 70px;
    height: auto;
    padding: 20px;

}



.row {
    display: flex;
  }
  
.column2 {
    flex: 50%;
    padding: 5px;
  }

.column3 {
    flex: 50%;
    padding: 5px;
    text-align: center;
    margin-top: 55px;
}


.font-nombre{
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 20px;
    font-family:  Arial, Helvetica, sans-serif;
}