
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.footer{
   flex: 0 0 50px;
   position: static;
   margin-top: auto;
   width: 100%;
   bottom: 0;
}

.banner{
    z-index: 1;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 40%;
    align-self: flex-end;
}

mat-toolbar{
    text-align: center;
    opacity: 60%;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
