<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="app">
        <app-header *ngIf="showHead"></app-header>
        <div *ngIf="showHead" class="banner">
                <app-redes-sociales></app-redes-sociales>
        </div>
        <router-outlet></router-outlet>

       <app-footer *ngIf="showHead" class="footer"></app-footer>
</div>