<div class='container'>
<div class="patron"></div>
<form class="asesor-form" (submit) = "ingresar()">

  <button mat-raised-button routerLink='/inicio' color="warn" class="button" style="float:center">Volver a la página principal</button>
  <br>
  <br>
  <br><br>
  <p style="font-size: 50px; font-weight: bold; line-height: 1em;">Formulario para inscripción de Instructora</p>
  <br><br><br>
  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="asesor-full-width">
      <mat-label>Nombre(s)</mat-label>
      <input [formControl]="nombre" [(ngModel)]='asesor.nombre' name="nombre" matInput>
    </mat-form-field></td>
    <td><mat-form-field class="asesor-full-width">
      <mat-label>Apellidos</mat-label>
      <input [formControl]="apellido" [(ngModel)]='asesor.apellido' name="apellido" matInput>
    </mat-form-field></td>
  </tr></table>


  <mat-form-field class="asesor-full-width">
    <mat-label>Correo Electrónico</mat-label>
    <input [(ngModel)]='asesor.email' name="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. patrones@gmail.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Ingresa una cuenta de correo válida
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      El email es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>


  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><mat-form-field>
    <mat-label>Telephone</mat-label>
    <span matPrefix>+52 &nbsp;</span>
    <input [formControl]="telefono" type="tel" [(ngModel)]='asesor.telefono' name="telefono" matInput placeholder="555-555-1234">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field></td>
    <td><mat-form-field class="asesor-full-width">
      <mat-label>Edad</mat-label>
      <input type= "number" [(ngModel)]='asesor.edad' name="edad" matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="asesor-full-width">
      <mat-label>Estado</mat-label>
      <input [formControl]="estado" [(ngModel)]='asesor.estado' name="estado" matInput placeholder="Ex. Veracrúz">
    </mat-form-field></td>
    <td><mat-form-field class="asesor-full-width">
      <mat-label>Ciudad</mat-label>
      <input [formControl]="ciudad" [(ngModel)]='asesor.ciudad' name="ciudad" matInput placeholder="Ex. Xalapa">
    </mat-form-field></td>
  </tr></table>

    <table class="asesor-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="asesor-full-width">
      <mat-label>Carrera</mat-label>
      <input [formControl]="carrera" [(ngModel)]='asesor.carrera' name="carrera" matInput placeholder="Ex. Veracrúz">
    </mat-form-field></td>
    <td><mat-form-field class="asesor-full-width">
    <mat-label>¿En que año te graduaste o planeas graduarte?</mat-label>
    <mat-select [formControl]="anio_graduacion" [(ngModel)]="selectedValueGrad" name="anio" [(ngModel)]='asesor.anio_graduacion' name="anio_graduacion">
      <mat-option *ngFor="let anio of anios" [value]="anio.value">
        {{anio.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field></td>
  <td><mat-form-field class="asesor-full-width">
    <mat-label>¿En qué semestre te encuentras?</mat-label>
    <mat-select [formControl]="semestre_carrera" [(ngModel)]="selectedValueSem" name="semestre" [(ngModel)]='asesor.semestre_carrera' name="semestre_carrera">
      <mat-option *ngFor="let semestre of semestres" [value]="semestre.value">
        {{semestre.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field></td>
  </tr></table>

  <mat-form-field class="asesor-full-width">
      <mat-label>Universidad</mat-label>
      <input [formControl]="universidad" [(ngModel)]='asesor.universidad' name="universidad" matInput>
  </mat-form-field>

  <mat-form-field class="asesor-full-width">
    <mat-label>Selecciona una de las sedes disponibles</mat-label>
    <mat-select [formControl]="sede" [(ngModel)]="selectedValueSede" name="sede_id" [(ngModel)]='asesor.sede_id' name="sede">
      <mat-option *ngFor="let sede of sedes" [value]="sede.value">
        {{sede.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="asesor-full-width">
    <mat-label>¿Porque escogiste esta carrera?</mat-label>
    <input [formControl]="razon_carrera" [(ngModel)]='asesor.razon_carrera' name="razon_carrera" matInput>
  </mat-form-field>

  <mat-form-field class="asesor-full-width">
    <mat-label>¿Porque quieres participar como asesora?</mat-label>
    <input [formControl]="razon_participacion" [(ngModel)]='asesor.razon_participacion' name="razon_participacion" matInput>
  </mat-form-field>

  <table class="asesor-full-width" cellspacing="0"><tr>
    <td><label id="disp-radio-group-label">¿Estás dispuesta a cambiar de sede de ser necesario?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='asesor.disp_cambio_sede' name="disp_cambio_sede">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td>
  <td><label id="experiencia-radio-group-label">¿Has tenido experiencia frente a grupos de niñas/niños/jovenes?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='asesor.experiencia_previa' name="experiencia_previa">
    
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  </td></tr></table>
  <label id="experiencia-radio-group-label">¿Te interesaría y podrás recibir a una instructora del MIT?</label>
  <mat-radio-group
    aria-labelledby="asesor-radio-group-label"
    class="asesor-radio-group"
    [(ngModel)]='asesor.disponibilidad_hospedaje' name="disponibilidad_hospedaje">
    <mat-radio-button class="asesor-radio-button" value="true" >Si</mat-radio-button>
    <mat-radio-button class="asesor-radio-button" value="false" >No</mat-radio-button>    
  </mat-radio-group>
  <br> 
  <mat-checkbox [checked] = true [(ngModel)]='asesor.aviso_privacidad' name="aviso_privacidad">¿Aceptas nuestro aviso de privacidad? Puedes consultarlo en: http://bit.ly/avisoPrivacidadPatronesHermosos</mat-checkbox>
  <br>
  <br><br><br>
  <div *ngIf="no_edit; else elseBlock">
    <button mat-raised-button type="submit" class="button" style="float:center" color="primary">Registrar Información</button>
  </div>
  <ng-template #elseBlock>
    <button mat-raised-button type="submit" class="button" style="float:center" color="accent">Aplicar cambios</button>
  </ng-template>
</form>
</div>