a {
    text-decoration: none;
    color: white;
    padding-right: 5%;
    font-size: medium;   
}

img{
    width: 150px;
}

a:hover, a:active{
    color: lightgray;
}

.mat-menu-content {
    background-color: inherit;
}

.custom-toolbar{
    text-align: center;
    opacity: 60%;
    display: flex;
    justify-content: center;
}

button{
    background-color: inherit;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
        min-width: 800px;
    }
}

#inner {
    text-align: center;
    align-self: center;
    align-items: center;
    position: relative;
    right: 5%;
}

.center{
    margin: auto;
}