<mat-toolbar color="accent" class="custom-toolbar">

  <mat-toolbar-row class="header">
  <img src="assets/logos/csoftmty.png">
  <img src="assets/logos/itesm.png">
  <div id="inner" class="center">
        <a mat-button routerLink="/inicio"> Inicio </a>
        <a mat-button [matMenuTriggerFor]="menu"> Nosotros </a>
          <mat-menu #menu="matMenu" >
            <button mat-menu-item routerLink='/about'>Conoce Patrones Hermosos</button>
            <button mat-menu-item routerLink='/conoce-al-equipo'>Conoce al equipo</button>
            <button mat-menu-item routerLink='/patrocinadores-y-colaboradores'>Patrocinadores y colaboradores</button>
          </mat-menu> 
        <a mat-button routerLink="/participa"> Participa </a>
        <a mat-button routerLink="/inscribete"> Inscríbete </a>
        <a mat-button routerLink="/noticias"> Noticias </a>
        <a mat-button routerLink="/contacto"> Contacto </a>
    </div>
    <div>
      <a *ngIf ="adminverify();" mat-button routerLink="/admin"> Administrador </a>
        <a *ngIf="!loggedIn(); else" mat-button routerLink="/login" style="width: 200px;"> Ingresar </a>
        <a mat-button *ngIf="loggedIn()" (click) = "logOut()">Salir</a>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>