<br>
<div class = "container">
    <div class = "square2">
        <a mat-button class = "font-posts" (click)="todasnoticias()"> All Posts </a>
    </div>
</div>
<br>
<div class = "container">
    <div class="noticia-container">
        <div class="autor-info">
            <img src="assets/logos/usuario.png" class="user-image">
            <p class="font-autor">{{noticiamostrar.autor}}&nbsp;&nbsp;&nbsp;</p>
            <p class="font-fecha">{{formato_fecha(noticiamostrar.fecha)}}</p>
        </div>
        <p class ="font-title"> {{noticiamostrar.titulo}}</p>
        <p class ="font-p"><span style="text-align: left;">{{noticiamostrar.contenido}}</span> </p>
        <br>
        <img class = "img-tamano" src = {{noticiamostrar.imagen}}>
        <br><br>
        <div class="separator"></div>
        <div class="bottom">
            <p style="margin-top: 5px">{{noticiamostrar.visitas}} Visitas</p>
            <div class="likes">
                <p> 
                    {{noticiamostrar.likes}}&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <mat-icon color="accent" (click)="likear(noticiamostrar.id, noticiamostrar.likes)">favorite</mat-icon>
            </div>
        </div>
        <div class="separator"></div> 
    </div>

</div>

<br>

<div *ngFor="let i of comentarios" class="container">
    <br>
    <div class="comment-container">
        <div class="comentario-contenido">
            <span style="width: 160px;"><p class = "font-comentarios">{{i.usuario}}:</p></span>
            <div  class="contenido">
                <p style="text-align: justify;">{{i.contenido}}</p>
            </div>
            <button *ngIf ="adminverify()" mat-raised-button color="warn" (click)='borrar_comentario(i.id)' style="margin-left: 10px; height: fit-content;">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
        <ng-container *ngIf ="respuestaempty()" style="margin-left: 50px;">
            <div *ngFor="let r of i.respuesta" class="comentario-container"><br>
                <p class = "font-comentarios" >{{r.usuario}}:</p><br><br>
                <div  class="contenido">
                    <p style="text-align: justify;">{{r.contenido}}</p>
                </div>
            </div>
        </ng-container>
        
        <form *ngIf ="adminverify()" (submit)= "responder(i.id)"  class="respuesta">
            <mat-form-field>
                <textarea  class= "texto-tamano" [(ngModel)]='respuesta.contenido' name = "contenido"  rows="1" type="text" mdbCharCounter matInput></textarea>
                <br>
            </mat-form-field>
            <div style="margin-left: 20px;">
                <button  mat-raised-button color="primary" type= "submit"> Responder </button>
            </div>
        </form>
    </div>
    
</div>   


<ng-container *ngIf="!loggedIn()">
    <div class="container" >
    <div  class="comment-container">
        <br>
        <p (click) = "login()" style="font-size: 20px;"><span style="color: rgb(252, 105, 130);" (click)="iniciarSesion()">Iniciar sesion</span> para dejar un comentario</p>
        <br>
    </div>
    </div>
</ng-container>


<ng-container *ngIf="loggedIn()">
<div class = "container" >
    <div  class="comment-container">
        <form (submit)= "comentar()">
            <mat-form-field style = "margin-right: 10px; width: 60%; border-color: black;">
            <textarea  class= "texto-tamano" [(ngModel)]='comentariomandar.contenido' name = "contenido"  rows="3" id="input_text" type="text" mdbCharCounter matInput></textarea>
            <br>
        </mat-form-field>
            <button  mat-raised-button color="primary" type= "submit" style="margin-left: 20px;"> Comentar</button>
        </form>
    </div>
</div>
</ng-container>
