.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.noticia-container{
    width: 50%;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.425);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.comment-container{
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.425);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

.comentario-container2{
    align-items: center;
    overflow: hidden;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f0808049 ;
}

.comentario-container{
    align-items: center;
    margin-left: 50px;
    overflow: hidden;
    width: 80%;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-left: 3px solid red;
}

.container2 {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: left;
    flex-wrap: nowrap;
    justify-content: center;
}

.separator{
    width: 80%;
    height: 1px;
    background-color: gray;
    opacity: 50%;
    margin-bottom: 20px;
}

.bottom{
    margin-bottom: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.likes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.likes > mat-icon{
    align-self: center;
    margin-bottom: 13px;
}

.contenido{
    margin-left: 20px;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;

    font-weight: normal;
    line-height: 1.5em;
    width: fit-content;
}

.comentario-contenido{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.respuesta{
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: flex-start;
    width: 100%;
}

.square{
    width: 70%;
    height: auto;
    line-height: 40px;
    background-color: white;
    text-align: center;
    border: 1px solid gray;
}

.square2{

    width: 70%;
    height: 20px;
    line-height: 10px;
    background-color: white;
    text-align: center;
    
}

.square3{

    width: 100%;
    height: auto;
    line-height: 10px;
    background-color: white;
    text-align: center;
    
}

.square4{
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 0px;
    background-color: white;
    text-align: center;
}
.square5{
    
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    line-height: 10px;
    background-color: white;
    text-align: center;
    margin-left: 80px;
}

.img-tamano{
    max-width: 700px;
    max-height: auto;
    align-self: center;
}

.autor-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    margin-left: 100px;
    margin-top: 30px;
}

.user-image{
    width: 40px;
    height: 40px;
    opacity: 50%;
}

.font-autor{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.font-fecha{
    margin-top: 10px;
}
.font-autor:after{
    content: '\2022';
}

.font-p{
    text-align: left;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    line-height: 1.5em;
    font-stretch: normal;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 18px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.font-comentarios{
    position: relative;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-weight: bold;
    float:left;
    font-size: 14px;
    text-align: justify;
    text-overflow: initial;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.font-posts{
    position: relative;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    float: left;
    font-size: 18px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.font-title{
    margin-top: 1.5em;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 40px;
    line-height: 1.4em;
    text-align: left;
    font-family: poppins-semibold, poppins, sans-serif; 
}

.font-title-comentarios{
    text-align: start;
    margin-left: 20px;
    margin-top: 1.5em;
    font-style: italic;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 30px;
    line-height: 1.4em;
    font-family: poppins-semibold, poppins, sans-serif; 
}

.row {
    display: flex;
  }
  
.column2 {
    position: relative;
    flex: 33.33%;
    padding: 80px;
    
  }


.img-tamano2{
    
    width: 300px;
    height: auto;
    padding: 20px;

}

.img-fondo{
    width: 3000px;
    height: auto;
}

.texto-tamano{
    height: 50px;
    padding-left: 10px;
    border-left: 3px solid red;
}

form{
    margin-top: 50px;
    margin-bottom: 50px;
}
