<div class="container">
    <div class="square2">
        <p class="font-believe">Asistentes inscritas</p>
    </div>
    <div class="form-group">
        <mat-label>Seleccionar por sede</mat-label><br>
        <mat-select [(ngModel)]="sede" name="sedes" style="border-style: solid; width:30%; border-radius: 5px; border-width: 1px;">
            <mat-option [value]=""></mat-option>
            <mat-option *ngFor="let sede of sedes" [value]="sede.value">
                {{sede.viewValue}}
              </mat-option>
        </mat-select>
        <button mat-raised-button (click)="exportExcel()" style="background-color: blueviolet; color: white; margin-left: 20px;">Exportar a Excel</button>
    </div>  
    <div style="overflow-x:auto;">
        <table id="excel_table">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Editar&nbsp;Asistente</th>
                <th>Autorizar&nbsp;Asistente</th>
                <th>Eliminar&nbsp;Asistente</th>
                <th>Correo&nbsp;electrónico</th>
                <th>Domicilio</th>
                <th>Municipio</th>
                <th>Ciudad&nbsp;del domicilio</th>
                <th>Estado/Provincia del domicilio</th>
                <th>Código&nbsp;postal del domicilio</th>
                <th>País del domicilio</th>
                <th>Teléfono&nbsp;móvil</th>
                <th>Fecha&nbsp;de&nbsp;nacimiento</th>
                <th>Nombre&nbsp;de&nbsp;la&nbsp;escuela en la que realizas tus estudios actualmente</th>
                <th>Tipo de escuela</th>
                <th>Grado escolar</th>
                <th>Promedio&nbsp;en&nbsp;escala&nbsp;de&nbsp;1&nbsp;a&nbsp;100&nbsp;del&nbsp;año&nbsp;escolar inmediato anterior (esta información sólo es para fines estadísticos y no se usará para elegir a las participantes)</th>
                <th>Participaste&nbsp;en&nbsp;el&nbsp;campamento Patrones Hermosos del MIT el año pasado</th>
                <th>Has&nbsp;tomado&nbsp;clases&nbsp;de&nbsp;programación, robótica, diseño de video juegos antes de este taller</th>
                <th>Has&nbsp;considerado&nbsp;estudiar alguna carrera relacionada con ingeniería o tecnología</th>
                <th>Cómo&nbsp;te&nbsp;enteraste de este evento</th>
                <th>Talla&nbsp;de&nbsp;camiseta</th>
                <th>Estatura&nbsp;en&nbsp;metros (por ejemplo 1.50 m)</th>
                <th>Nombre&nbsp;de tutor</th>
                <th>Teléfono&nbsp;del tutor</th>
                <th>Email&nbsp;del&nbsp;tutor</th>
                <th>Aceptó&nbsp;nuestro&nbsp;aviso de privacidad</th>
                <th>Autorización&nbsp;de medios</th>
                <th>Sede&nbsp;en&nbsp;la&nbsp;que se inscribio</th>
                <th>Tienes&nbsp;una&nbsp;laptop&nbsp;que&nbsp;pudieras traer al taller (no es obligatorio)</th>
                <th>Escribe&nbsp;tu&nbsp;nombre&nbsp;como quieres que aparezca en el diploma</th>
                
            </tr> 
            <tr *ngFor="let asistente of asistentes | sede_filter: sede">
                <td>{{asistente.id}}</td>
                <td>{{asistente.nombre}}</td>
                <td>{{asistente.apellido}}</td>
                <td><button mat-raised-button color="accent" routerLink="/formulario-asistente/{{asistente.id}}">Editar</button></td>
                <td><div *ngIf="asistente.autorizado;else elseBlockAuth">
                    Autorizada
                </div>
                <ng-template #elseBlockAuth>
                    <button mat-raised-button style="background: green; color: white;" (click)="openAcceptDialog(asistente.id, asistente.nombre + ' ' + asistente.apellido)">Autorizar</button></ng-template>
                </td>
                <td><button mat-raised-button color="warn" (click)="openWarnDialog(asistente.id)">Eliminar</button></td>
                <td>{{asistente.email}}</td>
                <td>{{asistente.direccion}}</td>
                <td>{{asistente.municipio}}</td>
                <td>{{asistente.ciudad}}</td>
                <td>{{asistente.estado}}</td>
                <td>{{asistente.codigo_postal}}</td>
                <td>{{asistente.pais}}</td>
                <td>{{asistente.telefono}}</td>
                <td>{{this.formatDate(asistente.fecha_de_nacimiento)}}</td>
                <td>{{asistente.escuela}}</td>
                <td>{{asistente.tipo_escuela}}</td>
                <td>{{asistente.grado}}</td>
                <td>{{asistente.promedio}}</td>
                <td *ngIf="asistente.participo_antes;else elseBlock">Si</td>
                    <ng-template #elseBlock><td>No</td></ng-template>
                <td *ngIf="asistente.clase_previa;else elseBlock">Si</td>
                <td *ngIf="asistente.estudiar_tic;else elseBlock">Si</td>
                <td>{{asistente.como_entro}}</td>
                <td>{{asistente.talla}}</td>
                <td>{{asistente.estatura}}</td>
                <td>{{asistente.tutor.nombre}}</td>
                <td>{{asistente.tutor.telefono}}</td>
                <td>{{asistente.tutor.email}}</td>
                <td *ngIf="asistente.aviso_privacidad;else elseBlock">Si</td>
                <td *ngIf="asistente.autorizacion_medios;else elseBlock">Si</td>
                <td>{{this.sedes[asistente.sede_id-1].viewValue}}</td>
                <td *ngIf="asistente.tiene_laptop;else elseBlock">Si</td>
                <td>{{asistente.nombre_diploma}}</td>
               
            </tr>
        </table>
    </div>
</div>