<div class="news-container">
    <div class ="square">
        <p class="font-malala">Usuarios</p>
    </div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>¿Es administrador?</th>
                <th>Autorizar</th>
                <th>Eliminar</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.usuario_id}}</td>
                <td>{{user.nombre}}</td>
                <td>{{user.apellido}}</td>
                <td *ngIf="user.admin; else elseBlock">Si</td>
                <ng-template #elseBlock><td>No</td></ng-template>
                <td *ngIf="user.confirmado; else elseAuth">Autorizado
                </td>
                <ng-template #elseAuth><td><button mat-raised-button style="background: green; color: white;" (click)="confirmarUsuario(user.usuario_id)">Autorizar</button></td></ng-template>
                <td><button mat-raised-button color="warn" (click)="eliminarUsuario(user.usuario_id)">Eliminar</button></td>
            </tr>
        </table>
    </div>
</div>
