.news-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}
.square{
    width: 100%;
    height: 200px;
    line-height: 200px;
    background-color: #213e8c;
    text-align: center;
}

.square2{
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
    height: 200px;
    line-height: 50px;
    background-color: white;
    text-align: center;
}

.font-malala{
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 34px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.texto-tamano{
    border-color: black;
    width: 100%;
    height: 100px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
