<div class="container">
    <div class="square2">
        <p class="font-believe">Instructoras inscritas</p>
    </div>
    <div class="form-group">
        <mat-label>Seleccionar por sede</mat-label><br>
        <mat-select [(ngModel)]="sede" name="sedes" style="border-style: solid; width:30%; border-radius: 5px; border-width: 1px;">
            <mat-option [value]=""></mat-option>
            <mat-option *ngFor="let sede of sedes" [value]="sede.value">
                {{sede.viewValue}}
              </mat-option>
        </mat-select>
        <button mat-raised-button (click)="exportExcel()" style="background-color: blueviolet; color: white; margin-left: 20px;">Exportar a Excel</button>
    </div>  
    <div style="overflow-x: auto;">
        <table id="excel_table">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Editar&nbsp;Instructora</th>
                <th>Autorizar&nbsp;Instructora</th>
                <th>Rechazar&nbsp;Instructora</th>
                <th>Correo electrónico</th>
                <th>Teléfono&nbsp;de&nbsp;contacto</th>
                <th>Edad</th>
                <th>Aceptó&nbsp;aviso&nbsp;de&nbsp;privacidad</th>
                <th>Estado&nbsp;de&nbsp;la&nbsp;república en que radica</th>
                <th>Nombre&nbsp;de&nbsp;la&nbsp;ciudad que radicas</th>
                <th>Carrera&nbsp;que&nbsp;estudias o de la que te graudaste</th>
                <th>Año&nbsp;en&nbsp;que&nbsp;te&nbsp;graduaste o planeas graduarte</th>
                <th>Universidad&nbsp;donde&nbsp;realizas o realizaste tus estudios</th>
                <th>¿Estarías&nbsp;dispuesta&nbsp;a&nbsp;ser instructora en otra sede diferente a la anterior en tu misma ciudad?</th>
                <th>En&nbsp;que&nbsp;semestre&nbsp;de&nbsp;la carrera te encuentras</th>
                <th>¿Porqué&nbsp;quieres&nbsp;participar&nbsp;en este&nbsp;programa&nbsp;como&nbsp;instructora?</th>
                <th>¿Has&nbsp;tenido&nbsp;experiencia&nbsp;frente a grupos de niñas/niños/jóvenes?</th>
                <th>¿Porqué&nbsp;elegiste&nbsp;tu&nbsp;carrera?</th>
                <th>¿Te&nbsp;interesaría&nbsp;y&nbsp;podrías recibir a una instructora del MIT?</th>
                <th>Sede&nbsp;en&nbsp;la&nbsp;que desea participar</th>
                
            </tr>
            <tr *ngFor="let asesor of asesoras | sede_filter: sede">
                <td>{{asesor.id}}</td>
                <td>{{asesor.nombre}}</td>
                <td>{{asesor.apellido}}</td>
                <td><button mat-raised-button color="accent" routerLink="/formulario-instructora/{{asesor.id}}">Editar</button></td>
                <td *ngIf="asesor.autorizado; else elseBlockAuth">Autorizada</td>
                    <ng-template #elseBlockAuth>
                        <td><button mat-raised-button style="background: green; color: white;" (click)="openAcceptDialog(asesor.id, asesor.nombre + ' ' +asesor.apellido)">Autorizar</button></td></ng-template>
                <td><button mat-raised-button color="warn" (click)="openWarnDialog(asesor.id)">Rechazar</button></td>
                <td>{{asesor.email}}</td>
                <td>{{asesor.telefono}}</td>
                <td>{{asesor.edad}}</td>
                <td *ngIf="asesor.aviso_privacidad;else elseBlock">Si</td>
                <ng-template #elseBlock><td>No</td></ng-template>
                <td>{{asesor.estado}}</td>
                <td>{{asesor.ciudad}}</td>
                <td>{{asesor.carrera}}</td>
                <td>{{asesor.anio_graduacion}}</td>
                <td>{{asesor.universidad}}</td>
                <td *ngIf="asesor.disp_cambio_sede;else elseBlock">Si</td>
                <td>{{asesor.semestre_carrera}}</td>
                <td>{{asesor.razon_participacion}}</td>
                <td *ngIf="asesor.experiencia_previa;else elseBlock">Si</td>
                <td>{{asesor.razon_carrera}}</td>
                <td *ngIf="asesor.disponibilidad_hospedaje;else elseBlock">Si</td>
                <td>{{this.sedes[asesor.sede_id-1].viewValue}}</td>
                
            </tr>
        </table>
    </div>
</div>