<div class="container">
    <div class ="square">
        <p class="font-malala">Resumen de inscripción</p>
    </div>
</div>
<div>
    <div class="select-buttons">
        <button mat-raised-button class="button" color="primary" style="margin-left: 10px;" (click)="show_sede()">Sedes</button>
        <button mat-raised-button class="button" color="primary" style="margin-left: 10px;" (click)="show_asistente()">Asistentes</button>
        <button mat-raised-button class="button" color="primary" style="margin-left: 10px;" (click)="show_instructora()">Instructoras</button>
    </div>
    
    <div *ngIf="show_sedes"><app-tabla-sede></app-tabla-sede></div>
    <div *ngIf="show_asistentes"><app-tabla-asistentes></app-tabla-asistentes></div>
    <div *ngIf="show_instructoras"><app-tabla-instructora></app-tabla-instructora></div>
</div> 
<br><br><br>
<div class="container">
    <div class ="square">
        <p class="font-malala">Administrar sitio</p>
    </div>
</div>
<div>
    <div class="select-buttons">
        <button mat-raised-button class="button" color="primary" style="margin-left: 10px;" (click)="show_noticia_table()">Añadir noticia</button>
        <button mat-raised-button class="button" color="primary" style="margin-left: 10px;" (click)="show_usuarios_table()">Administrar usuarios</button>
        <button mat-raised-button class="button" color="primary" style="margin-left: 10px;" (click)="show_agregar_admin()">Registrar Administradora</button>
    
    </div>
</div>
<div *ngIf="show_noticias"><app-crear-noticia></app-crear-noticia></div>
<div *ngIf="show_admin"><app-agregar-admin></app-agregar-admin></div>
<div *ngIf="show_usuarios"><app-tabla-usuarios></app-tabla-usuarios></div>