.container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.campus-container{
    margin: 70px;
}

.square{
    width: 100%;
    height: 200px;
    line-height: 200px;
    background-color: #213e8c;
    text-align: center;
}

.square2{
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
    height: 200px;
    line-height: 50px;
    background-color: white;
    text-align: center;
}

.font-malala{
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 34px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.texto-tamano{
    border-color: black;
    width: 100%;
    height: 100px;
}

.select-buttons{

    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}