<h1 mat-dialog-title>No se ha podido iniciar sesión</h1>
<p>Esto se puede deber a que el usuario no existe o<br> las administradoras no han autorizado tu registro</p>
<div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close style="background: green; color: white;">Aceptar</button>
</div>